<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tango_Down.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Tango_Down.Properties.Settings>
            <setting name="servercount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="clickspersecond" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cursorcost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ti83cost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cursorcount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ti83count" serializeAs="String">
                <value>0</value>
            </setting>
        </Tango_Down.Properties.Settings>
    </userSettings>
</configuration>
